:root {
  --primary-color: #6c63ff;
}
body.default-style {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  padding: 150px 0;
  line-height: 30px;
}

h1,
h2,
.style {
  font-family: "Playfair Display", serif;
  font-size: 96px;
}
h2.style {
  font-size: 24px;
}

h2.project-name {
  font-size: 50px;
}
.work-section h2.project-title {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: bold;
}
.work-section p {
  font-size: 14px;
}

p.hero-details {
  font-size: 36px;
  font-weight: bold;
}

.hero {
  background-color: #f9f7fe;
  padding: 150px 0;
}
.project-description {
  padding: 48px 0;
}
a {
  padding: 18px 25px;
  border-radius: 4px;
  font-weight: 500;
}
.about-section h1,
.work-section h1 {
  font-size: 64px;
}
.about-section h2 {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  padding: 20px 0;
}
.about-section img {
  border-radius: 20px;
}
.btn-branding {
  background-color: var(--primary-color);
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
}
.project-link {
  color: var(--primary-color);
  border: 1px solid #6c63ff;
  text-decoration: none;
}
@media (max-width: 900px) {
  a {
    padding: 12px 20px;
  }
  p {
    padding: 0;
    text-align: center;
  }
  h1.style,
  .about-section h1,
  .work-section h1 {
    font-size: 44px;
  }
  .hero {
    padding: 100px 0;
  }
  h2.project-name {
    font-size: 37px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .about-section {
    text-align: center;
  }
}
